<h1><%= @product.name %></h1>

<div id="tabs-with-content">
  <div class="tabs is-centered">
    <ul>
      <li><a>Overview</a></li>
      <li><a>Tech Parameters</a></li>
    </ul>
  </div>
  <div>
    <section class="tab-content">
      <div class="columns">
        <div class="column is-one-quarter">
            <%= image_tag "#{@image.name}" %>
        </div>
        <div class="column">
            <%= @product.description %>
        </div>
      </div>
    </section>
    <section class="tab-content">
      <table class="table table-striped" border="1">
        <thead>
            <tr>
                <th>parameter name</th>
                <th>parameter value</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>MTBF</td>
                <td><%= @parameter.mtbf %></td>
            </tr>
            <tr>
                <td>Voltage</td>
                <td><%= @parameter.voltage %></td>
            </tr>
            <tr>
                <td>Electricity</td>
                <td><%= @parameter.electricity %></td>
            </tr>
            <tr>
                <td>International Portection</td>
                <td><%= @parameter.ipxx %></td>
            </tr>
            <tr>
                <td>Temperature</td>
                <td><%= @parameter.temperature %></td>
            </tr>
        </tbody>
      </table>
    </section>
  </div>
</div>
<script>
    let tabsWithContent = (function () {
      let tabs = document.querySelectorAll('.tabs li');
      let tabsContent = document.querySelectorAll('.tab-content');

      let deactvateAllTabs = function () {
        tabs.forEach(function (tab) {
          tab.classList.remove('is-active');
        });
      };

      let hideTabsContent = function () {
        tabsContent.forEach(function (tabContent) {
          tabContent.classList.remove('is-active');
        });
      };

      let activateTabsContent = function (tab) {
        tabsContent[getIndex(tab)].classList.add('is-active');
      };

      let getIndex = function (el) {
        return [...el.parentElement.children].indexOf(el);
      };

      tabs.forEach(function (tab) {
        tab.addEventListener('click', function () {
          deactvateAllTabs();
          hideTabsContent();
          tab.classList.add('is-active');
          activateTabsContent(tab);
        });
      })

      tabs[0].click();
    })();
</script>
<style>
    #tabs-with-content .tabs:not(:last-child) {
      margin-bottom: 0;
    }

    #tabs-with-content .tab-content {
      padding: 1rem;
      display: none;
    }

    #tabs-with-content .tab-content.is-active {
      display: block;
    }
</style>
