<h1><%= @product.name %></h1>

<div id="tabs-with-content">
  <div class="tabs is-centered">
    <ul>
      <li><a>Overview</a></li>
      <li><a>Tech Parameters</a></li>
    </ul>
  </div>
  <div>
    <section class="tab-content">
      <table class="table">
        <tbody>
          <td>
            <%= image_tag "#{@image.name}" %>
          </td>
          <td>
            <%= @product.description %>
          </td>
        </tbody>
      </table>
    </section>
    <section class="tab-content">
      <table class="table table-striped" border="1">
        <thead>
            <tr>
                <th>parameter name</th>
                <th>parameter value</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>MTBF</td>
                <td><%= @parameter.mtbf %></td>
            </tr>
            <tr>
                <td>Voltage</td>
                <td><%= @parameter.voltage %></td>
            </tr>
            <tr>
                <td>Electricity</td>
                <td><%= @parameter.electricity %></td>
            </tr>
            <tr>
                <td>International Portection</td>
                <td><%= @parameter.ipxx %></td>
            </tr>
            <tr>
                <td>Temperature</td>
                <td><%= @parameter.temperature %></td>
            </tr>
        </tbody>
      </table>
    </section>
  </div>
</div>
