<!DOCTYPE html>
<html>
  <head>
    <title>VeicWebR2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "app", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  </head>

  <body>
    <div class="columns is-multiline is-mobile">
        <div data-controller="hello">
          <nav class="navbar" role="navigation" aria-label="dropdown navigation" data-hello-target="mymenu">
          </nav>
        </div>
        <div class="column is-three-quarters">
            <%= yield %>
        </div>
        <div class="column">
            <%= render 'shared/sidebar' %>
        </div>
    </div>
  </body>
</html>
