<!DOCTYPE html>
<html>
  <head>
    <title>VeicWebR2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "app", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <div data-controller="hello">
      <nav class="navbar" role="navigation" aria-label="dropdown navigation" data-hello-target="mymenu">
      </nav>
    </div>
    <%= yield %>
  </body>
</html>
